<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Manage Persons</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>      
        <div class="d-flex">        
          <button class="btn btn-success" type="submit"  data-bs-toggle="modal" data-bs-target="#exampleModal">Add New Person</button>
        </div>
      </div>
  </nav>
<table class="table table-striped">
<thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email </th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let person of allperson">
        <td>{{Person.id}}</td>
        <td>{{Person.fname}}</td>
        <td>{{Person.lname}}</td>
        <td>{{Person.email}}</td>
        <td>
            <input type="button" value="Edit" (click)="EditPerson(person)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success me-2"/>
            <input type="button" value="Delete" (click)="DeletePerson(percon)" class="btn btn-danger"/>
        </td>
    </tr>
</tbody>
</table>




<!-- Button trigger modal -->
<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="row g-3" [formGroup]="formValue">
                <div class="col-md-6">
                    <label for="inputName" class="form-label">First Name</label>
                    <input type="text" formControlName="name" class="form-control" id="inputName">
                  </div>
                  <div class="col-md-6">
                    <label for="inputClass" class="form-label">Last Name</label>
                    <input type="text" formControlName="class" class="form-control" id="inputClass">
                  </div>
                <div class="col-md-6">
                  <label for="inputEmail4" class="form-label">Email</label>
                  <input type="email" formControlName="email" class="form-control" id="inputEmail4">
                </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning"  data-bs-dismiss="modal">Close</button>
          <button *ngIf="btnSaveShow" type="button" class="btn btn-primary" (click)="AddPerson()" >Register</button>
          <button *ngIf="btnUpdateShow" type="button" class="btn btn-primary" (click)="UpdatePerson()" >Update</button>
        </div>
      </div>
    </div>
  </div>